{% extends '_layout.html' %}

{% block title %}Movie Rating App | Edit Movie{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit Movie</h1>
        <!-- Form to edit movie details-->
    <form action="/movies/{{ movie.movie_id }}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ movie.title }}" required>
        </div>
        <div class="mb-3">
            <label for="director" class="form-label">Director</label>
            <input type="text" class="form-control" id="director" name="director" value="{{ movie.director }}" required>
        </div>
        
        <!-- Display star rating input and a button to update the movie details. -->
        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <div id="rating">
                {% for i in range(1, 6) %}
                <span class="star" data-value="{{ i }}" style="cursor: pointer;">{% if i <=movie.rating %}★{% else %}☆{% endif %}</span>
                {% endfor %}
            </div>
            <input type="hidden" id ="ratingInput" name ="rating" value="{{ movie.rating }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Movie</button>
    </form>
</div>
<script>
    // Add event listener to each star element to update the rating input value and refresh the star display.
    document.addEventListener('DOMContentLoaded', (event)=>{
        let stars = document.querySelectorAll('.star');
        stars.forEach((star,index) => {
            star.addEventListener('click', (e) => {
                document.getElementById('ratingInput').value = star.getAttribute('data-value');
                updateStars(index+1);
            });
        });

    
    // Update the stars displayed based on the given rating value.
    function updateStars(rating){
        stars.forEach((star, index) => {
            if(index < rating){
                star.innerHTML = '★';
            } else {
                star.innerHTML = '☆';
            }
        });
    }
    });
</script>
{% endblock %}
